.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

Button {
  background: #ffffff;
    padding: .625rem 1.75rem;
    text-align: center;
    display: flex;
    cursor: pointer;
    width: 10%;
    font-size: 1.25rem;
    border: .125rem solid #000000;
    transition: all 0.1s;
    border-radius: .3125rem;
    margin-left: .625rem;
    margin-right: .625rem;
    margin-top: .625rem;
    float: right;
}
Button:hover {
  background: black;
    color: #ffffff;
    transition: all 0.1s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
